.container {
  max-width: 1200px;
    width: 85%;
}



.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}



.product-device {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 100%;
  max-height: 540px;
  background-color: #333;
  border-radius: 21px;
 
  
}

/*.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}*/

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }



.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
    }
    
#BG
{
    min-height: 500px;
    min-width: 79%;
    max-width: 80%;
    object-fit: cover;
    overflow: hidden;
    
}
}
@media screen and (max-width: 767px) {

  .justify-content-between .icon 
{
    display: none;
}
    .justify-content-between a:not(:first-child) {display: none;}
    .justify-content-between a.icon {
    float: right;
    display: block;
  }
.container {
  max-width: 1200px;
    width: 85%;
    max-height:20%;
    height: auto;
    min-height: 300px;
}
    #BG
{
    min-height: 300px;
    min-width: 79%;
    max-width: 80%;
    object-fit: cover;
    overflow: hidden;
    
}
    .justify-content-between .responsive {position: relative;}
  .justify-content-between .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
    .justify-content-between .responsive a {
    float: left;
    display: block;
    text-align: left;
  }
}
    

@media screen and (max-width: 767px) {
  
}

.overflow-hidden { overflow: hidden; }
.box-shadow img
{
    width: inherit;
    height: inherit;
    
}
.d-md-flex a
{
    text-decoration: none;
}


